*{
  box-sizing: border-box;
  line-height: 1em;
}
a {
  color: inherit;
  text-decoration: none;
}
li{
  list-style: none;
}
button{
  font-size: 1em;
}
body{
  display: flex; /* 或者使用 display: grid; */
  flex-direction: column; 
  margin: 0;
  font-size: 16px;
  background-color: #eef4ff;
  font-family: sans-serif;
  min-height: 100vh;
}
.btn-primary{
  background-color: rgb(9, 52, 139);
}
.btn-primary:hover{
  background-color: rgb(21, 72, 172);
}
/* 主項目 */
.top{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 3px rgb(218, 218, 218);
  padding: 1em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
}
/* 主項目大標題 */
.top .one{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .one .title{
  color: #818181;
  font-size: 1.8em;
}
.top .one .search{
  padding: 0.5em 1em;
  border-radius: 0.6em;
  background-color: #f5f5f5;
  color: #818181;
  font-size: 1.2em;
}
.top .one .search input{
  margin-right: 1em;
  width: 20em;
  border: 0;
  font-size: 1em;
  background-color: #f5f5f5;
  color: #818181;
  outline: none;
}
.top .one .search button{
  border: none;
  padding: 0;
  background: none;
  outline: none;
  cursor: pointer;
}
.top .one .right{
  display: flex;
  align-items: center;
}
.top .one .right .search2{
  display: none;
  margin-top: 0.1em;
  margin-right: 1em;
}
#search2_checkbox {
  display: none;
}
.top .one .right .search2 .searchi{
  color: #818181;
  font-size: 1.3em;
  cursor: pointer;
}
.top .one .right .search2 #search2_checkbox:checked + .search_from{
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.5s;
}
.top .one .right .search2 .search_from{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: -42px;
  width: 100%;
  height: 42px;
  padding: 0.5em 1em;
  background-color: #f5f5f5;
  color: #818181;
  font-size: 1.5em;
  box-sizing: border-box;
  transition: transform 0.5s;
}
.top .one .right .search2 .search_from input{
  margin-right: 1em;
  width: 80%;
  border: 0;
  font-size: 1em;
  background-color: #f5f5f5;
  color: #818181;
  outline: none;
}
.top .one .right .search2 .search_from i{
  color: #818181;
  cursor: pointer;
}
.top .one .right .search2 .search_from button{
  border: none;
  padding: 0;
  background: none;
  outline: none;
}
.top .one .right .search2 .search_from button i{
  margin-left: 0.8em;
}
.top .one .user{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgb(9, 52, 139);
  color: white;
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}
/* 主項目分頁項 */
.top .menu{
  display: flex;
  justify-content: center;
}
.top .menu .window{
  display: flex;
  margin: 0;
  margin-top: 1.5em;
  padding: 0;
}
.top .menu .window li{
  margin-left: 2em;
  color: #818181;
}
.top .menu .window li:first-child{
  margin-left: 0em;
}
.top .menu .window li a:hover{
  color: rgb(9, 52, 139);
}
.top .menu .window .active{
  color: rgb(9, 52, 139);
  border-bottom: 0.2em solid rgb(9, 52, 139);
}
.top .menu .minphone{
  display: none;
}
.top .menu .fixed_bottom{
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 2em;
  margin: 0;
  color: #818181;
  background-color: #f5f5f5;
}
.top .menu .fixed_bottom li a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top .menu .fixed_bottom li a:hover{
  color: rgb(9, 52, 139);
}
.top .menu .fixed_bottom li a i{
  margin-bottom: 0.5em;
}
.top .menu .fixed_bottom .active{
  color: rgb(9, 52, 139);
  border-bottom: 0.2em solid rgb(9, 52, 139);
}
/* 內容 */
.main{
  width: 100%;
  margin-top: 116px;
  margin-bottom: 1em;
  padding: 1.5em 15em;
  box-sizing: border-box;
}
.main .about_index{
  padding: 1em;
  background-color: white;
  border-radius: 0.5em;
}
/* 內容_註冊 */
.main .signup_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.main .signup_inputs{
  display: flex;
  justify-content: center;
  width: 50%;
}
.main .signup_inputs label{
  width: 25%;
}
.main .signup_inputs label span{
  justify-content: end;
  color: white;
  background-color: rgb(9, 52, 139);
  border: 0.1em solid rgb(9, 52, 139);
  border-radius: 0.25rem 0 0 0.25rem;
}
.main .signup_inputs input{
  border: 0.1em solid rgb(9, 52, 139);
  border-radius: 0 0.25rem 0.25rem 0 !important;
}
.main .signup_form .btn-primary{
  background-color: rgb(9, 52, 139);
}
.main .signup_form .btn-primary:hover{
  background-color: rgb(21, 72, 172);
}
.main .signup_inputs input.is-invalid{
  border: 0.1em solid #dc3545;
}
.main .signup_inputs .valid-feedback,
.main .signup_inputs .invalid-feedback{
  padding-left: 25%;
}
/* 內容_文章 */
.main .articles{
  margin-bottom: 1em;
  background-color: rgb(9, 52, 139);
  border-radius: 0.5em;
  border: 1px solid rgb(9, 52, 139);
}
.main .articles .title{
  padding: 0.5em 1em;
  margin: 0;
  color: white;
  border-radius: 0.5em 0.5em 0 0;
  background-color: rgb(9, 52, 139);
  line-height: 1.2em;
}
.main .articles .contents{
  padding: 1em 1em;
  border-radius: 0 0 0.5em 0.5em;
  background-color: white;
}
.main .articles .contents .labels{
  font-size: 0.8em;
  margin-bottom: 1em;
}
.main .articles .contents .labels span{
  margin-right: 0.5em;
  padding: 0.2em;
  border-radius: 0.2em;
  border: 1px solid rgb(9, 52, 139);
}
.main .articles .contents .article{
  line-height: 1.2em;
}
.main .no_articles{
  padding: 1em;
  background-color: white;
  border-radius: 0.5em;
}
/* 內容_作品 */
.main .works_box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main .works_box .works_box_flex{
  margin: 0.5em;
  width: calc(50% - 1em);
  align-self:stretch;
}
.main .works{
  display: flex;
  height: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
}
.main .works .title{
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-align: center;
  font-size: 1.5em;
}
.main .works .work_left{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
.main .works img{
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.main .works video{
  width: 100%;
  border-radius: 10px;
}
.main .works .contents{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.main .works .contents .abstract{
  margin: 0;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}
.main .works .contents .time{
  align-self: flex-end;
}
.main .no_works{
  padding: 1em;
  background-color: white;
  border-radius: 0.5em;
  align-self: stretch;
  width: 100%;
}
.main .get_work_id{
  flex-direction: column;
}
.main .get_work_id .work_left{
  margin-bottom: 1em;
}
.main .get_work_id .work_left,
.main .get_work_id .contents{
  width: 100%;
}
/* 內容_關於我 */
.main .about{
  display: flex;
  justify-content: space-around;
}
.main .about .about_me{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}
.main .about .about_me #apngImage{
  max-width: 100%;
  cursor: pointer;
}
.main .about_work{
  background-color: rgb(9, 52, 139);
  border-radius: 0.5em;
  border: 1px solid rgb(9, 52, 139);
}
.main .about_work .title{
  padding: 0.5em 1em;
  margin: 0;
  color: white;
  border-radius: 0.5em 0.5em 0 0;
  background-color: rgb(9, 52, 139);
}
.main .about_work .text{
  padding: 0.5em 1em;
  border-radius: 0 0 0.5em 0.5em;
  background-color: white;
  line-height: 1.2em;
}
/* 底部 */
.footer{
  margin-top: auto;
  display: flex;
  justify-content: center;
}
/* 在小屏幕上隱藏 */
@media only screen and (max-width: 1000px) {
  body{
    font-size: 14px;
  }
  /* 主項目大標題 */
  .top{
    padding: 0.5em;
  }
  .top .one .search {
    display: none;
  }
  .top .one .right .search2{
    display: block;
  }
  /* 主項目分頁項 */
  .top .menu .window{
    display: none;
  }
  .top .menu .minphone{
    display: block;
  }
  /* 內容 */
  .main{
    margin-top: 51.6px;
    padding: 1em 1em;
  }
  /* 內容_註冊 */
  .main .signup_inputs{
    width: 100%;
  }
  .main .register_container{
    padding: 0;
  }
  /* 內容_作品 */
  .main .works_box{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .main .works_box .works_box_flex{
    margin: 0em;
    width: calc(100%);
  }
  .main .works{
    flex-direction: column;
  }
  .main .works .work_left{
    margin-bottom: 1em;
  }
  .main .works .work_left,
  .main .works .contents{
    width: 100%;
  }
  .main .no_works{
    width: auto;
  }
  /* 內容_關於我 */
  .main .about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .about .about_me{
    margin: 0;
    margin-bottom: 1em;
  }
    /* 底部 */
  .footer{
    margin-bottom: 56.8px;
  }
}