/* menu */
.member_class{
  position: relative;
}
.member_class::after{
  content: ''; /*偽元素*/
    position: absolute; /*定位*/
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 2px solid rgba(255, 255, 255);
}
/* 會員登入 */
#login_form{
  margin: 5em 2em;
}
#login_form .title{
  font-weight: bold;
  margin-bottom: 1em;
  color: rgb(9, 52, 139);
}
#login_form .go_register{
  margin-top: 1em;
}
/* 管理文章列表 */
.article_list_main .container{
  padding-top: 1em;
  border-radius: 10px;
}
.article_list_main .list_title{
  margin-bottom: 1em;
}
.article_list_main th{
  white-space: nowrap;
}
.article_list_main th,
.article_list_main td{
  text-align: center;
  vertical-align: middle;
  line-height: 1.2em;
}
/* 新增文章 */
#add_article_form .submit{
  display: flex;
  justify-content: center;
}
#add_article_form .form-group{
  margin-bottom: 1em;
  border: 2px solid rgb(9, 52, 139);
  border-radius: 0.25rem;
  color: white;
  background-color: rgb(9, 52, 139);
}
#add_article_form .form-group label{
  padding: 0.5em;
}
#add_article_form .submit{
  margin: auto;
  margin-bottom: 1em;
}
/* 新增作品 */
#add_article_form .btn{
  font-size: 1em;
}
#add_article_form .submit_box{
  display: flex;
  justify-content: center;
}
#add_article_form .image_box,
#add_article_form .video_box{
  display: none;
  width: 100%;
  text-align: center;
}
#add_article_form .image_box a,
#add_article_form .video_box a{
  margin-bottom: 1em;
}
#add_article_form .image{
  padding: 1em;
}
#add_article_form .image img{
  border: 0.2em solid white;
  border-radius: 1em;
  width: 100%;
}
#add_article_form .video{
  width: 100%;
  padding: 1em;
  text-align: center;
}
#add_article_form .video video{
  border: 0.2em solid white;
  border-radius: 1em;
  width: 100%;
}
/* 編輯作品 */
#add_article_form .show{
  display: block;
}
#add_article_form .loading{
  margin-top: 2em;
}
/* 個人資訊 */
.member_list #add_article_form .title{
  text-align: center;
  font-weight: bold;
  color: rgb(9, 52, 139);
}
.member_list .submit_box{
  display: flex;
  justify-content: center;
}
.member_list .submit_box .btn-success{
  margin-right: 0.5em;
}
/* 修改個人資訊 */
#edit_user_form .title{
  text-align: center;
  font-weight: bold;
  color: rgb(9, 52, 139);
}
#edit_user_form .submit{
  display: flex;
  justify-content: center;
}
#edit_user_form .form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border-radius: 0.25rem;
  color: white;
}
#edit_user_form .form-group label{
  padding: 0.5em;
  border: 2px solid rgb(9, 52, 139);
  background-color: rgb(9, 52, 139);
  border-radius: 0.25rem 0.25rem 0 0;
}
#edit_user_form .form-group input{
  border: 2px solid rgb(9, 52, 139);
  border-radius: 0 0 0.25rem 0.25rem;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
  border: 2px solid #dc3545 !important;
}
#edit_user_form .submit{
  margin: auto;
  margin-bottom: 1em;
}
/* 在小屏幕上隱藏 */
@media only screen and (max-width: 1000px) {
  /* 會員登入 */
  #login_form{
    margin: 8em 2em;
  }
  /* 管理文章列表 */
  .article_list_main{
    padding: 0;
    overflow-x: auto;
  }
  .article_list_main .btn{
    padding: 0.2em 0.5em;
    margin-bottom: 0.1em;
  }
  /* 作品管理列表 */
  .admin_work_list{
    overflow-x: auto;
    font-size: 0.9em;
  }
  .admin_work_list .btn{
    font-size: 1em;
  }
}